.imageEditor{
    margin-top: 15px;
    margin-bottom: 15px;
    width:100%;
    height: fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    .card{
        padding-top:28px;
        padding-bottom:28px;
        width:100%;
        height: 80%;
        background-color: #fff ;
        box-shadow: 0 8px 16px 0px rgb(201,201,201);
        .card_header{
            text-align: center;
            padding-bottom: 15px;
            h2{
                text-transform: uppercase;
                color: cornflowerblue;
            }
        }
        .card_body{
            display:flex;
            justify-content: center;
            .sidebar{
                .reset{
                    margin-top: 20px;
                    button{
                        padding: 8px;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid #dad7d7;
                        cursor: pointer;
                        color: cornflowerblue;
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
                span{
                    font-size: 15px;
                    color:rgb(202, 206, 89);
                    margin-bottom: 4px;
                    display: block;
                }
                .sidebody{
                    width:250px;
                    border:1px solid rgb(202, 206, 89);
                    margin-right: 8px;
                    height: 300px;
                    padding: 10px;
                    .filter_key{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 5px;
                        button.active{
                            background-color:cornflowerblue;
                            color:#fff;
                        }
                        button{
                            padding: 8px;
                            background-repeat: 3px;
                            border:1px solid #dad7d7;
                            cursor: pointer;
                            color:#404040;
                            text-transform: capitalize; 
                        }
                    }
                    .fltier_slider{
                        margin: 15px 0px;
                        .label_bar{
                            margin-bottom: 4px;
                            display: flex;
                            justify-content: space-between;
                            label,span{
                                color: cornflowerblue;
                                font-size:15px;
                                text-transform: capitalize;
                            }
                        }
                        input{
                            width:100%;
                        }
                    }
                    .rotate{
                        label{
                            margin-bottom: 8px;
                            display: block;
                            font-size: 15px;
                           color:cornflowerblue; 
                        }
                        .icon{
                            display: grid;
                            grid-template-columns: repeat(4,1fr);
                            grid-gap: 5px;
                            div{
                                border: 1px solid #dad7d7;
                                padding: 8px 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                            }
                        }
                    } 
                }
            }
            .Image_section{
                margin-left: 8px;
                width: 300px;
                background-color: #e6ecf4;
                height: 300px;
                .Image{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img{
                        object-fit: scale-down;
                        transition: all 0.5s ;
                        width: 100%;
                        height: 100%;
                    }
                    label{
                        width:100%;
                        height: 100%;
                        display: flex;
                        border:4px dotted antiquewhite;
                        background-color: #f8f7f2;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        flex-flow: column;
                        svg{
                            font-size: 40px;
                            color:#b4acac
                        }
                        span{
                            color: #404040;
                        }
                    }
                }
                .Image_select{
                   margin: 20px;
                   display:flex;
                   justify-content: flex-end;
                   input{
                    display:none
                   }
                   label,button{
                    padding: 8px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #dad7d7;
                    cursor: pointer;
                    color: cornflowerblue;
                    font-weight: 600;
                    margin-left: 5px;

                   }
                   .undo,.redo{
                    background-color: cornflowerblue;
                    color: #fff;
                    border: #fff;
                    padding: 5px 10px ;
                    font-size: 18px;
                    margin-left: 5px;
                   }
                   .crop{
                    background-color: cornflowerblue;
                    color: #fff;
                    border: #fff;
                    padding: 5px 10px ;
                    font-size: 18px;
                    margin-left: 5px; 
                   } 
                }
            }
        }
    }
}
@media screen and (max-width:900px) {

    .card_body{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 50px;
    }
}